.rmsc .dropdown-heading{
    height: fit-content !important;    
}

.rmsc .dropdown-heading .dropdown-heading-value span{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding: 0.5rem 0;
    max-height: 126px;
    overflow-y: auto;
}

.rmsc .select-item:hover{
    background: #6ec8f8!important;
}

.rmsc .select-item.selected{
    background: #6ec8f8 !important
} 

@media (max-width: 640px) { /* Puedes ajustar el valor de max-width según tus necesidades */
    .rmsc .dropdown-heading{
      overflow-y: auto; /* Habilita el scroll vertical */
      max-height: 300px; /* Ajusta la altura máxima según lo necesario */
    }
  }
